*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: sans-serif;
    font-size: 40px;
}

.grid{
    display: grid;
    /* Tamanho das colunas na ordem */ 
    /* FR --> "Fragmento" */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
     /* grid-template-columns: repeat(auto-fill,minmax(320px, 1fr)); */
     grid-template-columns: [um] 1fr [dois] 2fr [tres] 3fr [quatro] 4fr;
    /* grid-template-columns: repeat(auto-fill,minmax(320px, 1fr)); */

    /* grid-template-rows: 2fr 1fr 3fr; */
    /* grid-template-rows: repeat(2, 1 fr 2fr); */
    max-width: 1200px;
    margin: 0 auto;
    /* Espaçamento entre linhas e colunas */
    /* Porém alguns navegadores não suportam muito bem GRID principalmente em flexbox */
    /* Contudo, position que seria uma tecnlogia mais recente é suportado em mais navegadores */
    /* Gap em GRID bem provavelmente será suportado, porém em alguns navegadores mais antigos como firefox 10 por exemplo pode não ser suportado, consequentemente teriamos de usar "gambiarras" */
    
    gap: 30px;
    row-gap: 50px;
    column-gap: 40px;
}

.grid div{
    background: aqua;
    min-height: 100px;
}


.grid div:nth-child(5){ 
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3; */
    /* Comando para "Cobrir" as linhas */
    /* grid-column: span 2; */
    background-color: darkred;
    /* Utilizando nomes em */
    grid-column: um / quatro;
    /* Inicia na linha um e termina na um, inicia na coluna quatro e termina na quatro */
    grid-area: um / um / quatro / quatro;
}

@media (max-width: 768px){
    .grid div:nth-child(5){ 
        grid-column: span 1;
    }
}