*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;

    /* Padrão: */
    /* Direção do eixo*/
    flex-direction: row; 
    /* Alinhar no eixo (PRINCIPAL) / (Alinhar perante o flex direction) */
    justify-content: flex-start;
    /* Alinhar no eixo (SECUNDARIO)*/
    align-items: stretch;
    /* Padrão end. */

    /* Espaçamento entre os itens no flex ( não suportado em alguns navegadores ) */
    /* gap: 30px; */
    /* Se não houver espaco para a ocupar a linha inteira pode escrever fora */
    flex-wrap: wrap;
    /* Alinha os itens */
    align-items: flex-start;
    /* Alinha todo conteudo */
    align-content: space-between;
    background: yellow;
    height: 640px;
}

.flex-item{
    color: #fff;
    width: 33.33%;
    background: red;
}

