        /* Parte UM da aula (Pseudo-classes) */

.heading {
    transition: all 300ms ease-in-out;
    /* Estilizar o hover da classe heading*/
}

.heading:hover {
    background: red;
}

a {
    /* Todos os links*/
    color: darkorange;
}

a:link {
    /* Links que não foram visitados */
    color: deeppink;
}

a:visited {
    color: firebrick;
}

a:hover {
    background: darkblue;
    color: white;
    text-decoration: none;
}

a:active {
    background: darkslategray;
    color: white;
    text-decoration: none;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: 1px solid black;
}

input:disabled {
    background-color: rebeccapurple;
    cursor: not-allowed;
}

input:enabled{
    background-color: blue;
    cursor: auto;
}

input:checked{
    width: 50px;
    height: 50px;
}

input:checked + p{
    background: red;
}

.pai .lista li:first-child{
    background: blueviolet;
}

input:required{
    background: red;
}

        /* Parte DOIS da aula (Pseudo-classe:not()) */

p:not(.meio) {
    color: blue;
}

 input:not(:checked) + p {
    background: yellow;
}

        /* Parte TRES da aula ( Pseudo-classe:nth-child() ) */

ul li:nth-child(even){
    /* Pares */
    background-color: darkred;
}

ul li:nth-child(odd){
    /* Impares */
    background-color: darkturquoise;
}

ul li:nth-child(2){
    /* Seleciona de acordo com indice */
    background-color: beige;
}

ul li:nth-child(3n){
    /* Seleciona de "3 em 3" */
    background-color: darkgoldenrod;
}

ul li:nth-child(3n+5){
    /* Seleciona de "3 em 3" apartir do quinto elemento */
    background-color: darkviolet;
}

        /* Parte QUATRO da aula ( Pseudo elementos ) */

ul li::after{
    /* Criando um pseudo-elemento após o conteudo de li */
    content: ' - ';
    background: black;
    color: #fff;
    /*display: block;*/
}

ul li::before{
    content: ' xD ';
    background: black;
    color: #fff;
    /*display: block;*/
}

/* Comentado para não desestabilizar o "site" já montado */
/* p::first-letter{
    font-size: 30px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
} */

/* Comentado para não desestabilizar o "site" já montado */
/* p::first-line{
    background: red;
} */

p::selection{
    background: black;
    color: white;
}

/* ::placeholder{
    color: red;
} */

.form-field::placeholder{
    color: red;
}