
h1 {
    background-color: red;
    width: 200px;
    /*font-weight:bold;*/
    /*--> Vale revisão*/
}/*Comentário teste*/

/*h1 {
    background-color: blue;
    width: 200px;
    width: 200px;
} // Caso eu optasse por realizar esta ação seria sobrescrito a tag H1 com background red para blue
*/

p {
    /* Selecionando diretamente a TAG*/
    background-color: blue;
    width: 150px;
}

/* Selecionando diretamente a ID*/
#cabecalho_dois {
    background-color: purple;
}

/* Selecionando diretamente a CLASS*/
.fundo_vermelho {
    background-color: red;
    /* Neste caso gera um "erro" de especificidade. Por que nos especificamos POR UM ID que tem especificacão mais forte que class que o segundo H1 seria purple*/
    /*background-color: red p !important;*/
    /* Pode "corrigir" o erro porém é totalmente não recomendado a forcar o navegador a ter seu estilo*/
}

.bold {
    color: yellow;
}
